.mid-top{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.doctor-profile{
    float: none;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1em;
    transition: ease-in-out .3s;
}

.doctor-profile:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    border-radius: 1em;
}

.doctor-detail{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor-detail h2, h3{
    margin: 0;
}

.doctor-speciality {
    color: #777;
    margin: 0.5em 0;
}






.booking-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1em;
    margin: 2em;
    padding: 2em;
    transition: ease-in-out .3s;
}

.booking-section:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    border-radius: 1em;
}

.booking-section h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1.5em;
    color: #5DADE2;
}

#booking-form {
    display: flex;
    flex-direction: column;
}

#booking-form label, .first-visit-buttons p{
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333;
}

#booking-form input, #booking-form textarea, #booking-form select {
    padding: 0.8em .1em;
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    font-size: 1em;
}

#booking-form #birth{
    padding: 1.0421em .123em;
}

.booking-section textarea{
    resize: vertical;
    height: 100px;
}

#booking-form button {
    background-color: #5DADE2;
    color: white;
    padding: 0.8em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color .3s ease-in-out;
    font-size: 1.2em;
}

#booking-form button:hover {
    background-color: #1ABC9C;
}

.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.two-column div {
    display: flex;
    flex-direction: column;
}




.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    font-size: 1.2em;
    color: #666;
    position: relative;
}

.separator span {
    background-color: #fff;
    padding: 0 1em;
    position: relative;
    z-index: 2;
}

.separator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ddd;
    z-index: 1;
}





.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.google-login {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 0.8em 1em;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.google-login:hover {
    background-color: #f4f4f4;
}

.google-img img{
    height: 40px;
}




.first-visit-buttons {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
}

.visit-btn {
    padding: 0.5em 1.5em;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1em;
}

.visit-btn.active {
    color: white;
}

.visit-btn:hover {
    background-color: #ddd;
}

#first-visit {
    display: none;
}

@media (max-width: 768px) {
    .two-column {
        grid-template-columns: 1fr;
    }
}