.nav-bar{
    justify-content: center;
}

.signup-section {
    width: 80%;
    max-width: 35em;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
}

.signup-section:hover {
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}

.signup-section h2 {
    margin-bottom: 1em;
    text-align: center;
    color: #333;
}

#signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

#signup-form label {
    margin-bottom: 0.5em;
    font-size: 1rem;
    color: #333;
}

#signup-form input {
    padding: 0.8em;
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

#signup-form button {
    background-color: #5DADE2;
    color: white;
    padding: 0.8em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#signup-form button:hover {
    background-color: #1ABC9C;
}
