body{
    width: 100%;
    padding: 0;
    margin: 0;
}



.main-container {
    display: flex;
    padding: 2em;
    margin: 0 1em;
    border-radius: 0.5em;
    position: relative;
    transition: 0.3s ease-in-out;
}

.main-container:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}

.icon {
    width: 100px;
    height: 100px;
    padding: 50px;
    background-image: url('../img/imgMain.png');
    background-size: cover;
    background-repeat: no-repeat;
}