.mid-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.back-btn{
    width: 80%;
    margin: 0 0 0 1em;
    display: flex;
    align-items: center;
}

.back-btn span{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 16px;
    background-color: #fff;
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    border-radius: .3em;
    padding: .3em .4em .2em 0;
    transition: ease-in-out .3s;
    color: #777;
}

.back-btn span:hover{
    text-decoration: underline;
    box-shadow: -.01em 0 .5em #E74C3C, .01em 0 .1em #E74C3C;
}

.back-btn img{
    width: 100%;
}






#booking-doctor-profile{
    margin-bottom: 5em;
}

.doctor-profile{
    width: 50%;
    float: none;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1em;
    transition: ease-in-out .3s;
}

.doctor-profile:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    border-radius: 1em;
}

.doctor-detail{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.doctor-detail h2, h3{
    margin: 0;
}

.doctor-speciality {
    color: #777;
    margin: 0.5em 0;
}









.first-visit-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1.5em;
}

.visit-btn {
    padding: 0.5em 1.5em;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: .3em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1em;
}

.visit-btn.active {
    color: white;
}

.visit-btn:hover {
    background-color: #ddd;
}

#first-visit {
    display: none;
}

.booking-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2em;
    border: 1px solid #ddd;
    border-radius: .3em;
    padding: 0.8em 2em;
}

.booking-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-content {
    /* width: 55%; */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1em;
    margin: 0 2em;
    padding: 2em;
    transition: ease-in-out .3s;
}

.booking-content:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    border-radius: 1em;
}

.booking-content h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1.5em;
    color: #5DADE2;
}

#booking-form {
    flex-direction: column;
}

.first-visit-buttons p{
    font-weight: bold;
    color: #333;
}

#booking-form label{
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333;
}

#booking-form input, #booking-form textarea, #booking-form select {
    padding: 0.8em .1em;
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: .3em;
    width: 100%;
    font-size: 1em;
}

#booking-form #birth{
    padding: 1.0421em .123em;
}

.booking-content textarea{
    resize: vertical;
    height: 100px;
}

.book-btn{
    width: 100%;
    background-color: #1ABC9C;
    color: white;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    border-radius: .3em;
    transition: background-color .3s ease-in-out;
    font-size: 1.2em;
}

.book-btn:hover {
    background-color: #1edab4;
}

.two-column {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 1em;
}

.two-column .two-column-content {
    display: flex;
    flex-direction: column;
}



.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
    font-size: 1.2em;
    color: #666;
    position: relative;
}

.separator span {
    background-color: #fff;
    padding: 0 1em;
    position: relative;
    z-index: 2;
}

.separator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ddd;
    z-index: 1;
}





.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.google-login {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 0.8em 1em;
    border-radius: .3em;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.google-login:hover {
    background-color: #f4f4f4;
}

.google-img img{
    height: 40px;
}






@media (max-width: 768px) {
    .two-column {
        grid-template-columns: 1fr;
    }
}