.header {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
    border-radius: 1em;
    margin: 1em 3em;
}

.header:hover {
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}

.nav-bar {
    width: 100%;
    padding: .8em;
    margin: 0 3.23em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left a,
.nav-left h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5DADE2;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo h1 {
    margin-left: -.4em;
}

.logo img {
    width: 65px;
}

.nav-mid {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-mid-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-mid-search {
    height: 100%;
    margin-left: -.1em;
}

.nav-mid-search:first-child {
    width: 50%;
    padding: .75em;
    margin-left: 0;
}

.nav-mid-search:nth-child(2) {
    width: 20%;
    padding: .75em;
}

.nav-mid-search:last-child {
    width: 25%;
    padding: .675em;
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right button{
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
    padding: .625em 1.88em;
    text-decoration: none;
    border-radius: .3em;
    border: none;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

.btn:hover {
    background-color: #1edab4;
}

.logout-btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E74C3C;
    padding: .625em 1.88em;
    text-decoration: none;
    border-radius: .3em;
    transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #c94334;
}



.login-menu-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 7.95%;
    top: 11%;
    border-radius: 0.3em;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.4s ease-in-out, background-color 0.4s ease-in-out;
    z-index: 100;
}

.login-menu-content.show {
    max-height: 200px;
    opacity: 1;
}

.login-menu-content .loginBtn{
    padding: 0.625em;
    margin: 0.3em 0.3em 0;
}

.loginBtn{
    background-color: #5DADE2;
}

.loginBtn:hover {
    background-color: #66bbf3;
}





.flash-messages {
    position: fixed;
    top: 0%;
    left: 39%;
    width: 19em;
    z-index: 1000;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 0.3em;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.alert-success {
    background-color: #e8f5e9;
    color: #2e7d32;
    border-color: #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}








.hamburger-menu {
    position: fixed;
    top: 6.4%;
    right: 10.5%;
    z-index: 100;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
}

.menu-icon span {
    display: block;
    width: 1.5em;
    height: 2px;
    background-color: #333;
    margin: 5px 0;
}

.menu-icon span:focus-visible{
    color: #1ABC9C;
}

.menu-content-patient, .menu-content-doctor{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: -4.4em;
    border-radius: .3em;
    transition: max-height 0.3s ease-in-out;
    z-index: 100;
}

.menu-content-doctor{
    right: -4em;
}

.show{
    max-height: 200px;
    background-color: rgba(0, 0, 0, 0);
}

.menu-content-patient a, .menu-content-doctor a{
    margin: .3em;
    text-wrap: nowrap;
}

.menu-content-patient a:last-child, .menu-content-doctor a:last-child{
    margin: .3em;
}

.menu-content-patient h4, .menu-content-doctor h4{
    text-align: center;
    border-radius: .3em;
    margin: .3em;
    box-shadow: -.1em 0 .3em #1ABC9C, 0.1em 1px 0.3em 0px #1ABC9C;
}

.required {
    color: red;
}








@media (max-width: 1023px){
    .nav-mid-form{
        margin: 0 1em;
    }

    .nav-mid{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .flash-messages{
        left: 31%;
    }
    .nav-mid-form{
        flex-direction: column;
    }

    .nav-mid{
        margin-bottom: 1em;
    }

    .nav-right{
        width: 100%;
    }

    .nav-right a.btn {
        margin: 0.3em 0.3em 0;
    }
}

@media (max-width: 650px){
    .flash-messages {
        left: 25%;
    }
}

@media (max-width: 550px){
    .flash-messages {
        left: 18%;
    }
}