/* body::after {
    content: '';
    background-image: url('../img/IconMain\(white\).png');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    right: 25%;
    width: 50%;
    height: 100vh;
    z-index: -100;
    opacity: .5;
} */




.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 50%;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background-image: url('../img/fixedIconMain\(blue\).png');
    background-repeat: no-repeat;
    background-position: center;
    animation: rotateY360 1s linear infinite;
    transform-style: preserve-3d;
}

@keyframes rotateY360 {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out, visibility .5s;
}








.header {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
    border-radius: 1em;
    margin: 1em 3em;
}

.header:hover {
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}

.nav-bar {
    width: 100%;
    padding: .8em;
    margin: 0 3.23em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left a,
.nav-left h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5DADE2;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo h1 {
    margin-left: -.4em;
}

.logo img {
    width: 65px;
}

.nav-mid {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 22px;
}

.nav-mid-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-mid-search {
    height: 100%;
    margin-left: -.1em;
}

.nav-mid-search:first-child {
    width: 50%;
    padding: .75em;
    margin-left: 0;
}

.nav-mid-search:nth-child(2) {
    width: 20%;
    padding: .75em;
}

.nav-mid-search:last-child {
    width: 25%;
    padding: .675em;
}

.nav-right {
    width: 24%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
    padding: .625em 1.88em;
    text-decoration: none;
    border-radius: .3em;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1edab4;
}

.logout-btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E74C3C;
    padding: .625em 1.88em;
    text-decoration: none;
    border-radius: .3em;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c94334;
}




.flash-messages {
    position: fixed;
    top: 0%;
    left: 39%;
    width: 20em;
    z-index: 1000;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.alert-success {
    background-color: #e8f5e9;
    color: #2e7d32;
    border-color: #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}








.hamburger-menu {
    position: fixed;
    top: 6.4%;
    right: 8.5%;
    z-index: 100;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
}

.menu-icon span {
    display: block;
    width: 1.5em;
    height: 2px;
    background-color: #333;
    margin: 5px 0;
}

.menu-icon span:focus-visible{
    color: #1ABC9C;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: -3.7em;
    border-radius: .3em;
    transition: max-height 0.3s ease-in-out;
    z-index: 100;
}

.menu-content.show {
    max-height: 556%;
    background-color: rgba(0, 0, 0, 0);
}

.menu-content a{
    margin-bottom: .3em;
    text-wrap: nowrap;
}

.menu-content a:last-child{
    margin-bottom: 0;
}

.menu-content a:hover {
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}

.required {
    color: red;
}