.main-container {
    padding: 2em;
    margin: 0 1em;
    border-radius: 0.5em;
    position: relative;
}






.main-container section{
    margin-bottom: 5em;
}

.head-line {
    display: flex;
    justify-content: center;
}

.head-line-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    background-color: rgba(115, 180, 224, .4);
    transition: 0.3s ease-in-out;
}

.head-line-content:hover {
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    background-color: rgba(115, 180, 224, .8);
}

.head-line-title {
    text-align: center;
    margin-bottom: 1.25em;
}


.head-line-content > .head-line-title > h1 {
    color: rgba(115, 180, 224, .4);
    -webkit-text-stroke: .5px rgba(0, 0, 0, .5);
    font-size: 1.5em;
    transition: .3s ease-in-out;
}

.head-line-content:hover > .head-line-title > h1{
    color: rgba(255, 255, 255, .8);
    -webkit-text-stroke: 1px #5DADE2;
}


.head-line-content > .head-line-title > h3{
    color: rgba(0, 0, 0, .3);
    transition: .3s ease-in-out;
}

.head-line-content:hover > .head-line-title > h3{
    color: rgba(0, 0, 0, .6);
}


.head-line-img-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.head-line-img {
    width: 50%;
}

.head-line-img img {
    width: 100%;
    margin-bottom: 1.25em;
}

.head-line-btn {
    display: flex;
    justify-content: center;
}

.head-line-btn .btn {
    width: 50%;
}










.how-it-works-section {
    background-color: rgba(115, 180, 224, .4);
    padding: 1em 1.25em;
    text-align: center;
    border-radius: 0.5em;
    transition: 0.3s ease-in-out;
}

.how-it-works-section:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    background-color: rgba(115, 180, 224, .8);
}

.how-it-works-section > h2 {
    color: rgba(115, 180, 224, .4);
    -webkit-text-stroke: .5px rgba(0, 0, 0, .5);
    font-size: 1.5em;
    margin-bottom: 1.25em;
    transition: .3s ease-in-out;
}

.how-it-works-section:hover > h2{
    color: rgba(255, 255, 255, .8);
    -webkit-text-stroke: 1px #5DADE2;
}

.steps {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.2em;
}

.locate{
    display: flex;
    align-items: center;
}

.right-arrow{
    background-image: url('../img/right-arrow.png');
    background-size: cover;
    width: 1em;
    height: 1em;
}

.step {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 200px;
    text-align: center;
    background-color: #fff;
    border-radius: .3em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
    transition: transform 0.3s;
}

.step:hover {
    transform: translateY(-10px);
}

.step img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.step h3 {
    font-size: 1.2em;
    color: #1ABC9C;
    margin-bottom: 10px;
}

.step p {
    font-size: 0.95em;
    color: #555;
}










.icon {
    width: 100px;
    height: 100px;
    padding: 50px;
    background-image: url('../img/imgMain.png');
    background-size: cover;
    background-repeat: no-repeat;
}






@media (max-width: 1200px){
    .steps{
        gap: 1em;
    }
}

@media (max-width: 1100px){
    .steps{
        gap: .8em;
    }
}

@media (max-width: 1000px){
    .steps{
        gap: .6em;
    }
}

@media (max-width: 900px){
    .steps{
        gap: .4em;
    }
}

@media (max-width: 768px){
    .head-line-content{
        width: unset;
    }

    .steps{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .right-arrow{
        background-image: url('../img/down-arrow.png');
        background-size: cover;
        width: 1em;
        height: 1em;
    }

    .step{
        width: 40%;
        padding: 0;
        justify-content: center;
    }

    .step:nth-child(4n+1){
        margin-right: 15em;
    }

    .step:nth-child(4n+3){
        margin-left: 15em;
    }

    .step:nth-child(4n+1):hover {
        transform: translateX(7.5em);
    }

    .step:nth-child(4n+3):hover {
        transform: translateX(-7.5em);
    }
}


@media (max-width: 600px){
    .step{
        width: 50%;
    }
    .step:nth-child(4n+1){
        margin-right: 5em;
    }

    .step:nth-child(4n+3){
        margin-left: 5em;
    }

    .step:nth-child(4n+1):hover {
        transform: translateX(2.5em);
    }

    .step:nth-child(4n+3):hover {
        transform: translateX(-2.5em);
    }
}