.nav-mid-search:last-child {
    width: 25%;
    padding: 0.675em;
}

.main{
    display: flex;
    flex-direction: column;
}

.main-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-top-nav{
    width: 80%;
    position: relative;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
    border-radius: 1em;
    margin: 1em 3em;
}

.main-top-nav:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}







.main-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
}

.doctor-info{
    width: 65%;
    padding: 1em 1em 1em 0em;
    margin: 1em 3em;
    background-color: #f0f8ff;
    border-radius: 1em;
    transition: box-shadow 0.3s ease-in-out;
}

.doctor-info:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.doctor-profile{
    height: auto;
    float: left;
    display: flex;
    justify-content: flex-start;
    background-color: #f0f8ff;
}

.rating{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.rating span{
    color: #FFD700;
}

.doctor-img{
    width: 40%;
    margin: 0 .5em .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.doctor-detail h5{
    margin: .2em 0;
}

.doctor-detail h5:last-of-type{
    margin: 0 0 .2em;
}

.doctor-tit{
    margin: 0 0 .2em;
}

.doctor-specialty{
    margin: 0 0 .2em;
    color: rgba(0, 0, 0, .8);
}

.hospital-address{
    margin: .2em 0 .2em;
    color: rgba(0, 0, 0, .6);
}

.doctor-description{
    color: rgba(0, 0, 0, .4);
}



.reservation-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-tit{
    margin-bottom: .5em;
}

.reservation-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
}

.reservations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: .5em;
    border-radius: .5em;
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    transition: ease-in-out .3s;
}

.reservations:hover{
    transform: translateY(-10px);
    box-shadow: -.01em 0 .5em #1ABC9C, .01em 0 .1em #1ABC9C;
}

.reservations ul, li, a{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, .5);
}

.reservations a:hover{
    color: rgba(0, 0, 0, .8);
}

.reservations p{
    color: rgba(0, 0, 0, .4);
    text-align: center;
}




.load-more-btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

#load-more-btn{
    width: 60%;
    margin: 1.5em 0;
    padding: 0.5em 1.5em;
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1em;
}

#load-more-btn:hover {
    background-color: #1edab4;
}


.page{
    margin: 0 .5em;
}


@media (max-width: 1250px){
    .doctor-info{
        width: unset;
    }
}

@media (max-width: 1023px){
    .details{
        flex-direction: column;
    }

    .reservation-container{
        width: 100%;
        flex-direction: unset;
        justify-content: space-around;
        margin: 1em 0 0 1em;
    }

    .reservation-tit{
        width: 30%;
        text-overflow: clip;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 .5em .5em;
    }

    .reservation-tit h3{
        text-align: center;
    }

    .reservation-content{
        display: flex;
        width: 70%;
    }
}

@media (max-width: 768px){
    .reservation-tit h3{
        text-align: unset;
        text-wrap: nowrap;
    }

    .reservation-container{
        flex-direction:column
    }

    .reservation-content{
        width: unset;
    }
}

@media (max-width: 650px) {
    .main-top-nav{
        margin: 1em 0;
    }

    .nav-mid{
        flex-wrap: wrap;
    }

    .nav-mid-search:first-child{
        width: 100%;
    }

    .nav-mid-search:nth-child(2), .nav-mid-search:last-child{
        width: 50%;
        margin-top: .5em;
    }
}