.nav-mid-search:last-child {
    width: 25%;
    padding: .675em;
}

.main{
    display: flex;
    flex-direction: column;
}

.main-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-top-nav{
    width: 80%;
    position: relative;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
    border-radius: 1em;
    margin: 1em 3em;
}

.main-top-nav:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}







.main-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
}

.doctor-info{
    width: 75%;
    padding: 1em 0 1em 1em;
    margin: 1em 3em;
    background-color: #fff;
    border-radius: 1em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition: ease-in-out .3s;
}

.doctor-info.show {
    opacity: 1;
}

.doctor-info:hover{
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.doctor-profile{
    width: 50%;
    height: auto;
    float: left;
    display: flex;
    justify-content: flex-start;
}

.rating{
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.rating span{
    color: #FFD700;
}

.doctor-img{
    margin: 0 .5em .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.doctor-detail h5{
    margin: .2em 0;
}

.doctor-detail h5:last-of-type{
    margin: 0 0 .2em;
}

.doctor-tit{
    margin: 0 0 .2em;
}

.doctor-specialty{
    margin: 0 0 .2em;
    color: rgba(0, 0, 0, .8);
}

.hospital-address{
    margin: .2em 0 .2em;
    color: rgba(0, 0, 0, .6);
}

.doctor-description{
    color: rgba(0, 0, 0, .4);
}



.reservation-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-tit{
    margin-bottom: .5em;
}

.reservation-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.reservations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: .5em;
    border-radius: 1em;
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    transition: ease-in-out .3s;
}

.reservations:hover{
    box-shadow: -.01em 0 .5em #1ABC9C, .01em 0 .1em #1ABC9C;
}

.reservations ul, li, a{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, .5);
}

.reservations a:hover{
    color: rgba(0, 0, 0, .8);
}

.reservations p{
    color: rgba(0, 0, 0, .4);
    text-align: center;
}




.load-more-btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

#load-more-btn{
    width: 60%;
    margin: 1.5em 0;
    padding: 0.5em 1.5em;
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1em;
}

#load-more-btn:hover {
    background-color: #1edab4;
}