.myappointments{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 5em 5em;
}

.main-mid-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    background-color: rgba(115, 180, 224, .4);
    margin-bottom: 2em;
    transition:  ease-in-out 0.3s;
}

.main-mid-content:hover{
    background-color: rgba(115, 180, 224, .8);
}

.doctor-info:hover{
    box-shadow: -.01em 0 .5em #1ABC9C, .01em 0 .1em #1ABC9C;
}

.main-mid-content-tit{
    margin-bottom: 1em;
    color: rgba(0, 0, 0, .9);
}

.main-mid{
    transition: none;
}

.doctor-detail{
    justify-content: flex-start;
}

.details{
    float: left;
    display: flex;
    justify-content: unset;
    align-items: unset;
}

.reservation-tit{
    margin-bottom: 0;
}

.reservation-content{
    display: table-column-group;
    text-align: center;
}

.reservations:first-child{
    padding: .2em;
}

.btns{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.btns div{
    margin: 0 .5em;
}

.book-confirm-btn, .confirm-btn{
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
    padding: .625em 1.88em;
    text-decoration: none;
    border-radius: .3em;
    transition:  ease-in-out 0.3s;
    text-wrap: nowrap;
}

.book-confirm-btn:hover, .confirm-btn:hover{
    background-color: #1edab4;
}

.cancel-btn, .close-btn{
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #E74C3C;
    padding: .625em 1.88em;
    text-decoration: none;
    border-radius: .3em;
    transition: ease-in-out 0.3s;
    text-wrap: nowrap;
}

.cancel-btn:hover, .close-btn:hover{
    background-color: #c94334;
}

/* Modal */
#cancelReason{
    width: 100%;
    padding: .5em;
}



.reservations:hover{
    transform: none;
}

.load-more-btn-area{
    margin-bottom: 1em;
}