*{
    box-sizing: unset;
}

.main-mid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.doctor-info{
    width: 22em;
    margin: 1em 1em;
}

.doctor-tit{
    color: rgba(0, 0, 0, .8);
    margin: 0;
}

.doctor-specialty{
    color: rgba(0, 0, 0, .8);
    margin: 0;
}

.doctor-description{
    color: rgba(0, 0, 0, .8);
}

.btns{
    display: block;
}