.signup-section {
    width: 80%;
    max-width: 35em;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
    border-radius: .5em;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
}

.signup-section:hover {
    box-shadow: -.01em 0 .5em #5DADE2, .01em 0 .1em #5DADE2;
}

.signup-section h2 {
    margin-bottom: 1em;
    text-align: center;
    color: #333;
}

#signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

#signup-form input, #signup-form textarea, #signup-form select {
    padding: 0.8em .1em;
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: .3em;
    width: 100%;
    font-size: .9em;
}

/* .doctor-img{
    display: flex;
    flex-direction: column;
} */

#birth{
    padding: 1.004em .1em !important;
}

#signup-form label {
    font-weight: bold;
    margin-bottom: .2em;
}

#signup-form button {
    background-color: #5DADE2;
    color: white;
    padding: 0.8em;
    border: none;
    cursor: pointer;
    border-radius: .3em;
    transition: background-color 0.3s ease;
}

#signup-form button:hover {
    background-color: #66bbf3;
}





.operating-hours-section {
    margin-top: 30px;
}

.operating-hours-container {
    display: grid;
    grid-template-columns: repeat(1, 7fr);
    gap: .5em;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: .3em;
    margin-bottom: .8em;
}

.day-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.day-checkbox-wrapper label{
    margin-bottom: 0 !important;
}

.day-checkbox{
    margin-left: .5em;
    margin-bottom: 0 !important;
    width: auto !important;
}

.time-inputs {
    display: none;
    margin-left: 25px;
    padding: 10px;
    background-color: #5DADE2;
    border-radius: .3em;
}

.time-input-group {
    display: flex;
    gap: 20px;
}

.time-field {
    flex: 1;
}

.time-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white !important;
}

.time-field input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: .3em;
}

input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #357abd;
}