<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mvpStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myAppointments.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
</head>

<body>
    {% include 'preloader_msg.html' %}

    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="logo">
                    <a href="/">
                        <img src="{{ url_for('static', filename='img/fixedIconMain(blue).png') }}" alt="MedKorea logo"/>
                    </a>
                    <a href="/">
                        <h1>MedKorea</h1>
                    </a>
                </div>
            </div>
            {% if session['user'] %}
                <div class="nav-right" style="justify-content: flex-start;">
                    <div class="hamburger-menu">
                        <div class="menu-icon" onclick="toggleMenu()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="menu-content-patient" id="user-menu">
                            <h4>Hello<br>{{ session['user_name'] }}</h4>
                            <a href="{{ url_for('views.mvp') }}" class="btn">Appointment</a>
                            <a href="{{ url_for('auth.myAccount') }}" class="btn">My Account</a>
                            <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="nav-right">
                    <a href="{{ url_for('auth.login') }}" class="btn">Login</a>
                </div>
            {% endif %}
        </nav>
    </header>

    <main class="main">
        <section class="mid-top">
            <h1 class="back-btn">
                <a onclick="history.back()">
                    <span>
                        <img src="{{ url_for('static', filename='img/left.png') }}" alt="left icon">
                        <div>Back</div>
                    </span>
                </a>
            </h1>
            <div class="doctor-profile" id="booking-doctor-profile">
                <div class="doctor-img">
                    <img src="{{ url_for('static', filename='img/' + doctor.image) }}" alt="{{ doctor.first_name }} {{ doctor.last_name }}'s img" class="doctor-img" style="width: 100px; height: 100px;">
                    <div class="rating"><span>★</span>
                        {% if doctor.rating %}
                            {{ doctor.rating }}
                        {% else %}
                            No ratings yet
                        {% endif %}
                    </div>
                </div>
                <span class="doctor-detail">
                    <h2 class="doctor-tit">Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h2>
                    <h3 class="doctor-specialty">Specialty: {{ doctor.specialty }}</h3>
                    <h4 class="hospital-address">{{ doctor.hospital_name }}</h4>
                    <h5>{{ doctor.address }}</h5>
                    <h5>Preferred Language: {{ doctor.preferred_language }}</h5>
                    <p class="doctor-description">{{ doctor.bio | truncate(120, end='...') }}</p>
                </span>
            </div>
        </section>
        <section class="booking-section">
            <div class="booking-content">
                <h2>Book Your Appointment</h2>
                <div class="booking-top">
                    <h3>Please confirm the below information to book your appointment.</h3>
                </div>
                <form action="{{ url_for('views.booking') }}" id="booking-form" method="POST">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="doctor_id" value="{{ doctor['_id'] }}">
                    <input type="hidden" name="appointment_date" value="{{ appointment_date }}">
                    <input type="hidden" name="appointment_time" value="{{ appointment_time }}"> 
                    <input type="hidden" name="appointment_day" value="{{ appointment_day }}">

                    <div class="one-column">
                        <div class="first-visit-buttons">
                            <div class="first-visit-tit">
                                <p>Is this your first visit?</p>
                            </div>
                            <div class="btns">
                                <button type="button" id="yes-btn" class="visit-btn" value="y">YES</button>
                                <button type="button" id="no-btn" class="visit-btn" value="n">NO</button>
                                <input type="hidden" id="first_visit" name="first_visit" value="{{ form.first_visit.data }}">
                            </div>
                        </div>
                    </div>

                    <div class="two-column">
                        <div class="two-column-content">
                            <label for="first-name">First Name<sup class="required">*</sup></label>
                            <input type="text" id="first-name" name="first-name" autocomplete="off" value="{{ user.first_name }}" required>
                        </div>
                        <div class="two-column-content">
                            <label for="last-name">Last Name<sup class="required">*</sup></label>
                            <input type="text" id="last-name" name="last-name" autocomplete="off" value="{{ user.last_name }}" required>
                        </div>
                        <div class="two-column-content">
                            <label for="phone">Phone Number<sup class="required">*</sup></label>
                            <input type="tel" id="phone" name="phone" autocomplete="off" value="{{ user.phone }}" required>
                        </div>
                        <div class="two-column-content">
                            <label for="birth">Date of Birth<sup class="required">*</sup></label>
                            <input type="date" id="birth" name="birth" value="{{ user.birth }}" required>
                        </div>
                        <div class="two-column-content">
                            <label for="sex">Sex<sup class="required">*</sup></label>
                            <select id="sex" name="sex" required>
                                <option value="{{ user.sex }}">{{ user.sex }}</option>
                                {% if user.sex == "Male" %}
                                    <option value="Female">Female</option>
                                {% else %}
                                    <option value="Male">Male</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="two-column-content">
                            <label for="insurance">Health Insurance<sup class="required">*</sup></label>
                            <select id="insurance" name="insurance">
                                <option value="y" {% if user.insurance == 'y' %} selected {% endif %}>Yes</option>
                                <option value="n" {% if user.insurance == 'n' %} selected {% endif %}>No</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="one-column">
                        <div class="one-column-content">
                            <label for="preferred_language">Preferred Language<sup class="required">*</sup><sup class="required"></sup></label>
                            {{ form.preferred_language(class="form-control") }}
                        </div>
    
                        <div class="one-column-content">
                            <label for="email">Email<sup class="required">*</sup></label>
                            <input type="email" id="email" name="email" value="{{ user.email }}" required>
                        </div>
    
                        <div class="one-column-content">
                            <label for="medical_history">Medical History</label>
                            {% if user.medical_history %}
                                <textarea id="medical_history" class="form-control" placeholder="Include any allergies or past conditions" readonly>{{ user.medical_history }}</textarea>
                            {% else %}
                                {{ form.medical_history(class="form-control", placeholder="Include any allergies or past conditions") }}
                            {% endif %}
                        </div>
    
                        <div class="one-column-content">
                            <label for="comments_for_doctor">Comments for Doctor (optional)</label>
                            {% if user.comments_for_doctor %}
                                <textarea name="comments_for_doctor" id="comments_for_doctor" placeholder="Describe your symptoms" readonly>{{ user.comments_for_doctor }}</textarea>
                            {% else %}
                                {{ form.comments_for_doctor(class="form-control", placeholder="Describe your symptoms") }}
                            {% endif %}
                        </div>
                    </div>

                    <button type="button" class="book-btn" id="openBookingModalBtn">Book Appointment</button>
                </form>
            </div>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <h2 id="modalTitle">Booking Complete</h2>
                    <p>
                        Please check your email and the details for your booking confirmation.
                    </p>
                    <p class="required">
                        ( You cannot modify this appointment. )
                    </p>
                    <div class="modal-actions">
                        <button type="submit" id="confirmBooking" class="book-confirm-btn">Confirm</button>
                        <button id="closeModal" class="close-btn">Close</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}
    
    <script src="{{ url_for('static', filename='js/visitBtn.js') }}"></script>
    <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>

</html>