{% extends "login_patient.html" %}

{% block title %}Forgot Password{% endblock %}
{% block extra_css %}

{% endblock %}
<main>

    {% block content %}
    <section class="login-section">
        <h3 class="text-center">Forgot Password</h3>
        <div>
            {% if action == 'yes' %}
            <form method="POST" id="login-form" action="{{ url_for('auth.verify_code') }}">
                {{ form.hidden_tag() }}
                    {{ form.code.label(class="form-label") }}
                    {{ form.code(class="", placeholder="Enter the 6-digit code you received", autocomplete="off") }}

                        <button type="submit" class="btn">Verify Code</button>

                    <div class="signup-link">
                        <a href="{{ url_for('auth.forgot_password') }}">Request New Code</a>
                    </div>
                <div>
                    <small class="text-muted">The verification code is valid for 5 minutes.</small>
                </div>
            </form>
            {% else %}
            <form method="POST" id="login-form" action="{{ url_for('auth.forgot_password') }}">
                {{ form.hidden_tag() }}
                    <label for="email">Email</label>
                    {{ form.email(class="", placeholder="Email") }}
                <button type="submit" class="btn">Get Verification Code</button>
            </form>
            {% endif %}
        </div>
    </section>
    {% endblock %}
</main>

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
{% endblock %}