<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MedKorea</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/healthNews.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
</head>

<body>
  <!-- <div class="firstColor" style="background-color: #5DADE2; width: 100px; height: 100px;"></div>
  <div class="SecondColor" style="background-color: #1ABC9C; width: 100px; height: 100px;"></div>
  <div class="pointColor" style="background-color: #E74C3C; width: 100px; height: 100px;"></div> -->
  {% include 'preloader_msg.html' %}

  <header class="header">
    <nav class="nav-bar">
      <div class="nav-left">
        <div class="logo">
          <a href="/"><img src="{{ url_for('static', filename='img/fixedIconMain(blue).png') }}"
              alt="MedKorea logo"/></a>
          <a href="/">
            <h1>MedKorea</h1>
          </a>
        </div>
      </div>
      <div class="nav-mid">
      </div>
      {% if session['user'] %}
        <div class="nav-right">
          <div class="hamburger-menu">
            <div class="menu-icon" onclick="toggleMenu()">
              <span></span>
              <span></span>
              <span></span>
            </div>
            {% if session['user_type'] == 'patient' %}
              <div class="menu-content-patient" id="user-menu">
                <h4>Hello<br>{{ session['user_name'] }}</h4>
                <a href="{{ url_for('views.mvp') }}" class="btn">Appointment</a>
                <a href="{{ url_for('auth.myAccount') }}" class="btn">My Account</a>
                <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
              </div>
            {% else %}
              <div class="menu-content-doctor" id="user-menu">
                <h4>Hello<br>Dr.{{ session['user_name'] }}</h4>
                <a href="{{ url_for('auth.myAccount') }}" class="btn">My Account</a>
                <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="nav-right">
          <button type="button" class="btn" id="openloginModalBtn">Login</button>
        </div>
        <div id="LoginModal" class="modal">
          <div class="modal-content">
              <h2 id="modalTitle">Login</h2>
              <div class="modal-actions">
                <a href="{{ url_for('auth.login_patient') }}" class="btn loginBtn">Login as Patient</a>
                <a href="{{ url_for('auth.login_doctor') }}" class="btn loginBtn">Login as Doctor</a>
              </div>
          </div>
      </div>
      {% endif %}
    </nav>
  </header>


  <main class="main-container">
    <section class="head-line">
      <div class="head-line-content">
        <div class="head-line-title">
          <h1>Find Trusted Doctors in Korea, Easily and Quickly!</h1>
          <h3>Connecting you with licensed professionals for every health need.</h3>
        </div>
        <div class="head-line-img-box">
          <div class="head-line-img">
            <img src="{{ url_for('static', filename='img/team-doctors(bg).jpg') }}" alt="team doctors image">
          </div>
        </div>
        <div class="main-btn">
          <a href="{{ url_for('views.mvp') }}" class="btn">Make an appointment</a>
        </div>
      </div>
    </section>

    <section id="how-it-works" class="how-it-works-section">
      <h2>How It Works</h2>
      <div class="container">
        <div class="steps">
          <div class="step">
            <img src="{{ url_for('static', filename='img/search-icon.png') }}" alt="Search Icon">
            <h3>Search</h3>
            <p>Find doctors near you.</p>
          </div>
          <div class="locate">
            <div class="right-arrow"></div>
          </div>
          <div class="step">
            <img src="{{ url_for('static', filename='img/chooes-icon.png') }}" alt="Choose Icon">
            <h3>Choose</h3>
            <p>Compare ratings and reviews.</p>
          </div>
          <div class="locate">
            <div class="right-arrow"></div>
          </div>
          <div class="step">
            <img src="{{ url_for('static', filename='img/book-icon.png') }}" alt="Book Icon">
            <h3>Book</h3>
            <p>Schedule your visit.</p>
          </div>
          <div class="locate">
            <div class="right-arrow"></div>
          </div>
          <div class="step">
            <img src="{{ url_for('static', filename='img/done-icon.png') }}" alt="Relax Icon">
            <h3>Relax</h3>
            <p>Get reminders and updates.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="health-news-container">
      <div class="health-news">
        <h1>Latest Health News</h1>
        <ul class="health-news-articles">
        </ul>
      </div>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2 id="modalTitle"></h2>
          <img id="modalImage" src="" alt="article modal img" />
          <p id="modalDescription"></p>
          <p><small id="modalPublishedAt"></small></p>
        </div>
      </div>
    </section>

    <section>
      <img src="{{ url_for('static', filename='img/imgMain.png') }}" alt="a"
        style="height: 100px; width: 100px; visibility: hidden;">
      <img src="{{ url_for('static', filename='img/imgMain.png') }}" alt="a"
        style="height: 100px; width: 100px; visibility: hidden;">
      <img src="{{ url_for('static', filename='img/imgMain.png') }}" alt="a"
        style="height: 100px; width: 100px; visibility: hidden;">
      <img src="{{ url_for('static', filename='img/imgMain.png') }}" alt="a"
        style="height: 100px; width: 100px; visibility: hidden;">
    </section>
  </main>

  {% include 'footer.html' %}

  <script src="{{ url_for('static', filename='js/healthNews.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
</body>

</html>