<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
    {% include 'preloader_msg.html' %}

    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/fixedIconMain(blue).png') }}" alt="MedKorea logo"/></a>
                    <a href="/">
                        <h1>MedKorea</h1>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="login-section">
            <h2>Login to Your Account<br>(As a Doctor)</h2>
            <form id="login-form" method="POST" action="{{ url_for('auth.login_doctor') }}" >
                {{ form.hidden_tag() }}
                <label for="email">Email</label>
                {{ form.email() }}
            
                <label for="password">Password</label>
                {{ form.password() }}
        
                <button type="submit">Login</button>
            </form>
            <div class="signup-link">
                <p>Don't have an account? <a href="{{ url_for('auth.signUp_doctor') }}" id="signup-link-doctor">Sign up now</a></p>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
</body>
</html>