<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mvpStyle.css') }}">
</head>

<body>
    <!-- <div class="firstColor" style="background-color: #5DADE2; width: 100px; height: 100px;"></div>
    <div class="SecondColor" style="background-color: #1ABC9C; width: 100px; height: 100px;"></div>
    <div class="pointColor" style="background-color: #E74C3C; width: 100px; height: 100px;"></div> -->
    {% include 'preloader_msg.html' %}

    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/fixedIconMain(blue).png') }}"
                            alt="MedKorea logo" /></a>
                    <a href="/">
                        <h1>MedKorea</h1>
                    </a>
                </div>
            </div>
            {% if session['user'] %}
            <div class="nav-right" style="justify-content: flex-start;">
                <div class="hamburger-menu">
                    <div class="menu-icon" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="menu-content" id="user-menu">
                        {% if session['user_type'] == 'patient' %}
                        <h4>Hello<br>{{ session['user_name'] }}</h4>
                        {% else %}
                        <h4>Hello<br>Dr.{{ session['user_name'] }}</h4>
                        {% endif %}
                        <a href="{{ url_for('auth.myAccount') }}" class="btn">My Account</a>
                        <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="nav-mid"></div>
            <div class="nav-right">
                <!-- Hidden button -->
                <button type="submit" id="search-btn" class="btn"
                    style="width: 45%; visibility: hidden;">Search</button>
                <a href="#" class="btn" style="width: 45%;" onclick="loginMenu()">Login</a>
                <div class="login-menu-content" id="login-menu">
                    <a href="{{ url_for('auth.login_patient') }}" class="btn loginBtn">Login as Patient</a>
                    <a href="{{ url_for('auth.login_doctor') }}" class="btn loginBtn">Login as Doctor</a>
                </div>
            </div>
            {% endif %}
        </nav>
    </header>

    <main class="main">
        <div class="main-top">
            <div class="main-top-nav">
                <form id="search-form" role="search" class="nav-mid-form">
                    <div class="nav-mid">
                        {{ form.condition(type="text", class="nav-mid-search", placeholder="Condition, procedure, doctor...", autocomplete="off", value="") }}
                        {{ form.location(type="text", class="nav-mid-search", placeholder="Location", autocomplete="off", value="") }}
                        {% if form.date %}
                            {{ form.date(type="date", id="date", class="nav-mid-search", required=True, value=request.args.get('date')) }}
                        {% else %}
                            {{ form.date(type="date", id="date", class="nav-mid-search", required=True, value=today.today) }}
                        {% endif %}
                    </div>
                    <div class="nav-right">
                        {{ form.submit(id="search-btn", class="btn", style="width: 45%;") }}
                    </div>
                </form>
            </div>
        </div>

        <!-- <h1>Doctor's Schedule</h1> -->
        <div class="main-mid" id="doctor-container">
            {% for doctor in doctors %}
                {% if doctor.available_times %}
                    <div class="doctor-info">
                        <div class="details">
                            <div class="doctor-profile">
                                <div class="doctor-img">
                                    <img src="/static/img/{{ doctor.image }}"
                                        alt="{{ doctor.first_name }} {{ doctor.last_name }}'s img" class="doctor-img"
                                        style="width: 100px; height: 100px;">
                                    <div class="rating">
                                        <span>⭐</span>
                                        {{ doctor.rating or 'No ratings yet' }}
                                    </div>
                                </div>
                                <span class="doctor-detail">
                                    <h2 class="doctor-tit">Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h2>
                                    <h3 class="doctor-specialty">Specialty: {{ doctor.specialty }}</h3>
                                    <h4 class="hospital-address">{{ doctor.hospital_name }}</h4>
                                    <h5>{{ doctor.address }}</h5>
                                    <h5>Preferred Language: {{ doctor.preferred_language }}</h5>
                                    <p class="doctor-description">{{ doctor.bio | truncate(120, end='...') }}</p>
                                </span>
                            </div>
                            <div class="reservation-container">
                                <div class="reservation-tit">
                                    <h3>Available Reservations</h3>
                                </div>
                                <div class="reservation-content">
                                    {% for date_info in doctor.available_times %}
                                    {% if date_info.availableTimes %}
                                    <span class="reservations">
                                        <h4>{{ date_info.date }}</h4> <!-- Show date without year -->
                                        <p style="margin: .5em 0;">{{ date_info.day }}</p>
                                        <select data-day="{{ date_info.day }}" data-date="{{ date_info.date }}"
                                            data-doctor-id="{{ doctor.id }}"
                                            onchange="DoctorManager.selectTime(this.dataset.day, this.dataset.date, this.value, this.dataset.doctorId)">
                                            <option value="">Select a time</option>
                                            {% for time in date_info.times %}
                                            <option value="{{ time.time }}">
                                                {{ time.time }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}
        </div>
        <div class="load-more-btn-area">
            {% if page > 1 %}
            <a href="{{ url_for('views.mvp', page=page-1, condition=form.condition.data, location=form.location.data, date=request.args.get('date')) }}" class="btn">Previous</a>
            {% endif %}
            <span class="page"> Page {{ page }} of {{ total_pages }}</span>
            {% if page < total_pages %}
            <a href="{{ url_for('views.mvp', page=page+1, condition=form.condition.data, location=form.location.data, date=request.args.get('date')) }}" class="btn">Next</a>
            {% endif %}
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book.js') }}"></script>
</body>

</html>