<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_myAccount.css') }}">
</head>
<body>
    {% include 'preloader_msg.html' %}

    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/fixedIconMain(blue).png') }}"
                            alt="MedKorea logo" /></a>
                    <a href="/">
                        <h1>MedKorea</h1>
                    </a>
                </div>
            </div>
            <div class="nav-right">
                <div class="hamburger-menu">
                    <div class="menu-icon" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    {% if user.user_type == 'doctor' %}
                        <div class="menu-content-doctor" id="user-menu">
                            <a href="{{ url_for('auth.myAccount') }}" class="btn">Personal Information</a>
                            <a href="{{ url_for('auth.login_security') }}" class="btn">Login & Security</a>
                            <a href="{{ url_for('views.appointments') }}" class="btn">Appointments History</a>
                            <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
                        </div>
                    {% elif user.user_type == 'patient' %}
                        <div class="menu-content-patient" id="user-menu">
                            <a href="{{ url_for('auth.myAccount') }}" class="btn">Personal Information</a>
                            <a href="{{ url_for('auth.login_security') }}" class="btn">Login & Security</a>
                            <a href="{{ url_for('views.appointments') }}" class="btn">Appointments History</a>
                            <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>



    <main>
        <section class="signup-section">
            <h2>Personal Information</h2>
            {% if editing %}
                <form action="{{ url_for('auth.myAccount') }}" id="signup-form" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {% if user.user_type == 'doctor' %}
                        <div class="doctor-img">
                            <label for="image">Profile Picture<sup class="required">*</sup></label>
                            {{ form.image(class="form-control", required=True) }}
                        </div>
                    {% endif %}
                    <div class="two-column">
                        <div class="two-column-content">
                            <label for="first_name">First Name<sup class="required">*</sup></label>
                            {{ form.first_name(class="form-control", required=True) }}
                        </div>
                        <div class="two-column-content">
                            <label for="last_name">Last Name<sup class="required">*</sup></label>
                            {{ form.last_name(class="form-control", required=True) }}
                        </div>
                        <div class="two-column-content">
                            <label for="phone">Phone Number<sup class="required">*</sup></label>
                            {{ form.phone(class="form-control", required=True) }}
                        </div>
                        <div class="two-column-content">
                            <label for="birth">Date of Birth<sup class="required">*</sup></label>
                            {{ form.birth(class="form-control", required=True) }}
                        </div>
                        <div class="two-column-content">
                            <label for="sex">Sex<sup class="required">*</sup></label>
                            {{ form.sex(class="form-control", required=True) }}
                        </div>
        
                        {# Patient-specific Fields #}
                        {% if user.user_type == 'patient' %}
                            <div class="two-column-content">
                                <label for="preferred_language">Preferred Language<sup class="required"></sup></label>
                                {{ form.preferred_language(class="form-control") }}
                            </div>

                        {# Doctor-specific Fields #}
                        {% elif user.user_type == 'doctor' %}
                            <div class="two-column-content">
                                <label for="medical_school">Medical School<sup class="required">*</sup></label>
                                {{ form.medical_school(class="form-control", required=True) }}
                            </div>
                            <div class="two-column-content">
                                <label for="specialty">Specialty<sup class="required">*</sup></label>
                                {{ form.specialty(class="form-control", required=True) }}
                            </div>
                            <div class="two-column-content">
                                <label for="graduation_year">Graduation Year<sup class="required">*</sup></label>
                                {{ form.graduation_year(class="form-control", required=True) }}
                            </div>
                            <div class="two-column-content">
                                <label for="license_number">Medical License Number<sup class="required">*</sup></label>
                                {{ form.license_number(class="form-control", required=True) }}
                            </div>
                            <div class="two-column-content">
                                <label for="preferred_language">Preferred Language<sup class="required"></sup></label>
                                {{ form.preferred_language(class="form-control") }}
                            </div>
                        {% endif %}
                    </div>
        
                    {# Address and Additional Information #}
                    <div class="one-column">
                        {% if user.user_type == 'patient' %}
                            <div class="one-column-content">
                                <label for="insurance">Health Insurance<sup class="required"></sup></label>
                                {{ form.insurance(class="form-control") }}
                            </div>
                        {% endif %}
                        <div class="one-column-content">
                            <label for="address">Address<sup class="required">*</sup></label>
                            {{ form.address(class="form-control", placeholder="123 gil Yanghwa-ro, Mapo-gu, Seoul") }}
                        </div>

                        {# Patient Medical Information #}
                        {% if user.user_type == 'patient' %}
                            <div class="one-column-content">
                                <label for="medical_history">Medical History</label>
                                {{ form.medical_history(class="form-control", placeholder="Include any allergies or past conditions") }}
                            </div>
                            <div class="one-column-content">
                                <label for="comments_for_doctor">Comments for Doctor</label>
                                {{ form.comments_for_doctor(class="form-control", placeholder="Describe your symptoms") }}
                            </div>
                        
                        {# Doctor Additional Information #}
                        {% elif user.user_type == 'doctor' %}
                            <div class="one-column-content">
                                <label for="hospital_name">Hospital Name<sup class="required">*</sup></label>
                                {{ form.hospital_name(class="form-control", required=True) }}
                            </div class="one-column-content">
                            <div class="one-column-content">
                                <label for="bio">Bio<sup class="required">*</sup></label>
                                {{ form.bio(class="form-control", required=True) }}
                            </div class="one-column-content">
                            
                            {# Operating Hours Section #}
                            <div class="operating-hours-section">
                                <h4>Operating Hours</h4>
                                <div class="operating-hours-container">
                                    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                                        <div class="day-container">
                                            <div class="day-checkbox-wrapper">
                                                <label for="{{ day }}-check">{{ day }}</label>
                                                <input type="checkbox" id="{{ day }}-check" value="{{ day }}" class="day-checkbox">
                                            </div>
                                            <div class="time-inputs" id="{{ day }}-times" style="display: none;">
                                                <div class="time-input-group">
                                                    <div class="time-field">
                                                        <label>Start Time</label>
                                                        <input type="time" id="{{ day }}-start" class="start-time">
                                                    </div>
                                                    <div class="time-field">
                                                        <label>End Time</label>
                                                        <input type="time" id="{{ day }}-end" class="end-time">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <input type="hidden" id="operating-hours-hidden" name="operating_hours" value="{{ form.operating_hours.data }}">
                        {% endif %}
                    </div>
        
                    {# Form Actions #}
                    <div class="two-column">
                        <button type="submit" class="save-btn">Save Changes</button>
                        <a href="{{ url_for('auth.myAccount') }}" class="logout-btn" style="margin-top: 1em;">Cancel</a>
                    </div>
                </form>
        
            {% else %}
                {# View Mode #}
                <form action="{{ url_for('auth.myAccount') }}" id="signup-form" method="POST">
                    {{ form.hidden_tag() }}
                    {% if user.user_type == 'doctor' %}
                        <div class="doctor-myaccount-profile">
                            <div class="doctor-profile-content">
                                <div class="doctor-profile-img" style="margin-bottom: 0;">
                                    <label for="file">Profile Picture</label>
                                    <div class="doctor-img" style="width: 100px;">
                                        {% if user.image %}
                                            <img src="{{ url_for('static', filename='img/' + user.image) }}" alt="Profile Image">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='img/imgMain.png') }}" alt="Default Profile Image">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="doctor-profile-detail">
                                    <div class="two-column">
                                        <div class="two-column-content">
                                            <label>First Name</label>
                                            {{ user.first_name }}
                                        </div>
                                        <div class="two-column-content">
                                            <label>Last Name</label>
                                            {{ user.last_name }}
                                        </div>
                                    </div>
                                    <div class="one-column">
                                        <div class="one-column-content">
                                            <label>Email</label>
                                            {{ user.email }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="two-column">
                            <div class="two-column-content">
                                <label>First Name</label>
                                {{ user.first_name }}
                            </div>
                            <div class="two-column-content">
                                <label>Last Name</label>
                                {{ user.last_name }}
                            </div>
                        </div>
                        <div class="one-column">
                            <div class="one-column-content">
                                <label>Email</label>
                                {{ user.email }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="two-column">
                        <div class="two-column-content">
                            <label>Phone Number</label>
                            {{ user.phone }}
                        </div>
                        <div class="two-column-content">
                            <label>Date of Birth</label>
                            {{ user.birth }}
                        </div>
                        <div class="two-column-content">
                            <label>Sex</label>
                            {{ user.sex | upper }}
                        </div>
                        <div class="two-column-content">
                            <label>Preferred Language</label>
                            {{ user.preferred_language | upper }}
                        </div>
                        {# User Type Specific Information #}
                        {% if user.user_type == 'doctor' %}
                        <div class="two-column-content">
                            <label>Medical School</label>
                            {{ user.medical_school }}
                        </div>
                        <div class="two-column-content">
                            <label>Specialty</label>
                            {{ user.specialty | upper }}
                        </div>
                        <div class="two-column-content">
                            <label>Graduation Year</label>
                            {{ user.graduation_year }}
                        </div>
                        <div class="two-column-content">
                            <label>Medical License Number</label>
                            {{ user.license_number }}
                        </div>
                        {% endif %}
                    </div>

                    
                    {# Additional Information Display #}
                    <div class="one-column">
                        {% if user.user_type == 'patient' %}
                            <div class="one-column-content">
                                <label>Health Insurance</label>
                                {{ 'Yes' | upper if user.insurance == 'y' else 'No' | upper }}
                            </div>
                        {% endif %}
                        <div class="one-column-content">
                            <label>Address</label>
                            {{ user.address }}
                        </div>
                        
                        {% if user.user_type == 'patient' %}
                            <div class="one-column-content">
                                <label>Medical History</label>
                                {{ user.medical_history }}
                            </div>
                            <div class="one-column-content">
                                <label>Comments for Doctor</label>
                                {{ user.comments_for_doctor }}
                            </div>
                        {% endif %}
                        
                        {% if user.user_type == 'doctor' %}
                            <div class="one-column-content">
                                <label>Hospital Name</label>
                                {{ user.hospital_name | upper }}
                            </div>
                            <div class="one-column-content">
                                <label>Bio</label>
                                {{ user.bio }}
                            </div>
                            <div class="one-column-content">
                                <label>Operating Hours</label>
                                <div class="operating-hours-display">
                                    {% for day, times in user.operating_hours.items() %}
                                        <div class="day-schedule">
                                            <b>{{ day.capitalize() }}:</b>
                                            {{ times['start'] }} - {{ times['end'] }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <a href="{{ url_for('auth.myAccount', edit=True) }}" class="logout-btn">Edit Profile</a>
                </form>
            {% endif %}
        </section>
    </main>



    {% include 'footer.html' %}


    <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/operationTime.js') }}"></script>
</body>
</html>