<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Appointments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_myAccount.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mvpStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myAppointments.css') }}">
</head>
<body>
    {% include 'preloader_msg.html' %}

    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/fixedIconMain(blue).png') }}"
                            alt="MedKorea logo" /></a>
                    <a href="/">
                        <h1>MedKorea</h1>
                    </a>
                </div>
            </div>
            <div class="nav-right">
                <div class="hamburger-menu">
                    <div class="menu-icon" onclick="toggleMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    {% if user_type == 'doctor' %}
                        <div class="menu-content-doctor" id="user-menu">
                            <a href="{{ url_for('auth.myAccount') }}" class="btn">Personal Information</a>
                            <a href="{{ url_for('auth.login_security') }}" class="btn">Login & Security</a>
                            <a href="{{ url_for('views.appointments') }}" class="btn">Appointments History</a>
                            <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
                        </div>
                    {% elif user_type == 'patient' %}
                        <div class="menu-content-patient" id="user-menu">
                            <a href="{{ url_for('auth.myAccount') }}" class="btn">Personal Information</a>
                            <a href="{{ url_for('auth.login_security') }}" class="btn">Login & Security</a>
                            <a href="{{ url_for('views.appointments') }}" class="btn">Appointments History</a>
                            <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <section class="myappointments">
            <div class="main-mid-content">
            <h2 class="main-mid-content-tit">Upcoming Appointments</h2>
                <div class="main-mid" id="doctor-container">
                    {% if upcoming_appointments %}
                        {% for appt in upcoming_appointments %}
                            {% if user_type == 'doctor' %}
                                <div class="doctor-info">
                                    {% include 'myAppointment_details.html' %}
                                </div>
                            {% else %}
                                <div class="doctor-info">
                                    {% include 'myAppointment_details.html' %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h3 style="margin-bottom: 2em;">No upcoming appointments</h3>
                    {% endif %}
                </div>
            </div>
    
            <div class="main-mid-content">
                <br>
                <h2 class="main-mid-content-tit">Past Appointments</h2>
                <div class="main-mid" id="doctor-container">
                    {% if past_appointments %}
                        {% for appt in past_appointments %}
                            <div class="doctor-info">
                                {% include 'myAppointment_details.html' %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 style="margin-bottom: 2em;">No past appointments</h3>
                    {% endif %}
                </div>
                <div class="load-more-btn-area">
                    {% if page > 1 %}
                    <a href="{{ url_for('views.appointments', page=page-1) }}" class="btn">Previous</a>
                    {% endif %}
                        <span class="page"> Page {{ page }} of {{ total_pages }}</span>
                    {% if page < total_pages %}
                    <a href="{{ url_for('views.appointments', page=page+1) }}" class="btn">Next</a>
                    {% endif %}
                </div>
            </div>
        </section>

        <div id="cancelModal" class="modal">
            <div class="modal-content">
                <h3 id="modalTitle">Cancel Appointment</h3>
                <p>Are you sure you want to cancel this appointment?</p><br>
                <label for="cancelReason">Cancellation Reason:</label>
                <p id="errorText" style="color: red; text-align: center;"></p>
                <textarea id="cancelReason" placeholder="Enter reason for cancellation"></textarea>
                <div class="modal-actions">
                    <button id="confirmCancel" class="confirm-btn">Confirm Cancel</button>
                    <button id="closeModal" class="close-btn">Close</button>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
</body>
</html>


