<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up For Patient</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    {% include 'preloader_msg.html' %}
    
    <header class="header">
        <nav class="nav-bar">
            <div class="nav-left">
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/fixedIconMain(blue).png') }}" alt="MedKorea logo"/></a>
                    <a href="/">
                        <h1>MedKorea</h1>
                    </a>
                </div>
            </div>
        </nav>
    </header>


    <main>
        <section class="signup-section">
            <h2>Create an Account<br>(For Patient)</h2>
            <form action="{{ url_for('auth.signUp_patient') }}" id="signup-form" method="POST">
                {{ form.hidden_tag() }}
                <div class="two-column">
                    <div>
                        <label for="first_name">First Name<sup class="required">*</sup></label>
                        {{ form.first_name(class="form-control", autocomplete="off", required=True) }}
                    </div>
                    <div>
                        <label for="last_name">Last Name<sup class="required">*</sup></label>
                        {{ form.last_name(class="form-control", autocomplete="off", required=True) }}
                    </div>
                    <div>
                        <label for="phone">Phone Number<sup class="required">*</sup></label>
                        {{ form.phone(class="form-control", autocomplete="off", required=True) }}
                    </div>
                    <div>
                        <label for="birth">Date of Birth<sup class="required">*</sup></label>
                        {{ form.birth(class="form-control", required=True) }}
                    </div>
                    <div>
                        <label for="sex">Sex<sup class="required">*</sup></label>
                        {{ form.sex(class="form-control", required=True) }}
                    </div>
                    <div>
                        <label for="insurance">Health Insurance<sup></sup></label>
                        {{ form.insurance(class="form-control") }}
                    </div>
                </div>

                <label for="address">Address<sup class="required">*</sup></label>
                {{ form.address(class="form-control", placeholder="123 gil Yanghwa-ro, Mapo-gu, Seoul", required=True) }}
            
                <label for="email">Email<sup class="required">*</sup></label>
                {{ form.email(class="form-control", autocomplete="off", required=True) }}
                
                <div class="two-column">
                    <div>
                        <label for="password">Password<sup class="required">*</sup></label>
                        {{ form.password(class="form-control", autocomplete="off", required=True) }}
                    </div>
                    <div>
                        <label for="confirm_password">Confirm Password<sup class="required">*</sup></label>
                        {{ form.confirm_password(class="form-control", autocomplete="off", required=True) }}
                    </div>
                </div>

                <label for="preferred_language">Preferred Language</label>
                {{ form.preferred_language(class="form-control") }}

                <label for="medical_history">Medical History</label>
                {{ form.medical_history(class="form-control", placeholder="Include any allergies or past conditions") }}

                <label for="comments_for_doctor">Comments for Doctor</label>
                {{ form.comments_for_doctor(class="form-control", placeholder="Describe your symptoms") }}
            
                <button type="submit">Sign Up</button>
            </form>
        </section>
    </main>



    {% include 'footer.html' %}
    
    <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
</body>
</html>